*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background-color: black;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: tomato; 
    border-radius: 5px; 
  }
  
  
  ::-webkit-scrollbar-track {
    background: var(--main-paleta1-color); 
    border-radius: 5px; 
  }
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
        url("./img/istockphoto-1302200928-612x612.jpg");
    background-size: cover;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
}
nav{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    font-size: 2em;
    letter-spacing: 2px ;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    color: white;
    padding: 10px 20px;
    font-size: 20px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu li:hover{
    color: rgb(216, 210, 210)
}

.menu li a:hover{
    color: wheat;
    
}
.menu li a{
    cursor: pointer;
}

.contact a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background-color: tomato;
    border-radius: 20px;
    cursor: pointer;
}
.h-txt{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.h-txt span{
    letter-spacing: 5px;
    font-size: 20px;

}
.h-txt h1{
    font-size: 3.5em;
    margin-bottom: 50px;
}

.btn a{
    color: white;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}
/*main*/
.kassa{
    display: flex;
    justify-content: space-between;
    background: #000;
}
.txt-main{
    width: 40%;
}
.txt-main h2, .txt-main p{
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
    
}
.txt-main h2{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.txt-main p{
    text-align: justify;
    margin-top: 20px;
    font-weight:bold; 
    font-size: 20px; 
}
.kassa img{
    width: 40%;
}
.servicios{
    background-color: yellowgreen;
}
/*Modelos*/
.modelos{
    background-color: tomato;
}
.contenedor h2{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
}
.modelos-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}
.modelos-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
}