*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background-color: black;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: tomato; 
    border-radius: 5px; 
  }
  
  
  ::-webkit-scrollbar-track {
    background: var(--main-paleta1-color); 
    border-radius: 5px; 
  }
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
        url("./img/istockphoto-1302200928-612x612.jpg");
    background-size: cover;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
}
nav{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    font-size: 2em;
    letter-spacing: 2px ;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    color: white;
    padding: 10px 20px;
    font-size: 20px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu li:hover{
    color: rgb(216, 210, 210)
}

.menu li a:hover{
    color: wheat;
    
}
.menu li a{
    cursor: pointer;
}

.contact a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background-color: tomato;
    border-radius: 20px;
    cursor: pointer;
}
.h-txt{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.h-txt span{
    letter-spacing: 5px;
    font-size: 20px;

}
.h-txt h1{
    font-size: 3.5em;
    margin-bottom: 50px;
}

.btn a{
    color: white;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}
/*main*/
.kassa{
    display: flex;
    justify-content: space-between;
    background: #000;
}
.txt-main{
    width: 40%;
}
.txt-main h2, .txt-main p{
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
    
}
.txt-main h2{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.txt-main p{
    text-align: justify;
    margin-top: 20px;
    font-weight:bold; 
    font-size: 20px; 
}
.kassa img{
    width: 40%;
}

/*Precios*/
.secc-precio{
    background-color: tomato;
}
.tabla{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

  
  th {
    background-color: #F2F2F2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: 1px solid #CCCCCC;
  }
  
  td {
    background-color: #FFFFFF;
    text-align: left;
    padding: 8px;
    border: 1px solid #CCCCCC;
  }
  
  tr:nth-child(even) td {
    background-color: #F2F2F2;
  }
  

/*Modelos*/
.modelos{
    background-color: tomato;
}
.contenedor h2{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
}
.modelos-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}
.modelos-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}
/*Formulario*/
.contacto{
    background-color: #fff;
}
.formulario h2{
    color: #000;
}
.formulario h4{
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
    
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    border-color: #4CAF50;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3E8E41;
  }
  
/*Footer*/
.pie-pagina{
    width: 100%;
    background-color: #000;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;

}
.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
}

.pie-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;

}
.pie-pagina .grupo1 .redes-sociales a,
.pie-pagina .grupo1 .lenguaje a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    align-items: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo1 .redes-sociales a:hover,
.pie-pagina .grupo1 .lenguaje a:hover{
    background-color: var(--main-fondo-color);
    border-radius: 30px;
}
.pie-pagina .grupo2{
    background-color: var(--main-fondo-color);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo2 small{
    font-size: 15px;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
}
